@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lmsd9i');
  src:  url('../fonts/icomoon.eot?lmsd9i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lmsd9i') format('truetype'),
    url('../fonts/icomoon.woff?lmsd9i') format('woff'),
    url('../fonts/icomoon.svg?lmsd9i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}

.star.star-rating{
  position: relative;
  display: inline-block;
  width: 87px;
  height: 22px;
}

.star.star-rated{
  position: relative;
  display: block;
  overflow: hidden;
  height: 22px;
}

.star.star-rating:after {
  content: "\f006\f006\f006\f006\f006";
  color: #a2a2a2;
}

.star.star-rated:after {
  content: "\f005\f005\f005\f005\f005";
  z-index: 2;
  color: gold;
  
}

.star.star-rated:after, .star.star-rating:after{
  display: block;
  font-family: icomoon;
  font-size: 16px;
  letter-spacing: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
}